{%extends 'shop/inheritance.html'%} {% block title%} Product View {% endblock %}
{%block css%}
.main{
  height:15vh
}
footer
{
  position:fixed;
}
#pid{
  visibility:hidden;
}
.table-sm td, .table-sm th {
  padding: 0.5rem;
  margin: 6px;
}
{%endblock%}

{% block body%}
<div class="container my-4">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <img src="/media/{{productview.images}} " width="250" height="300"/>
      </div>
      <br><br><br>
      <button class="btn btn-success" id="bidnow">Bid now </button>
    </div>
    <div class="col-md-8">
      <h5>{{productview.product_name}}</h5>
      <p>{{productview.desc}}</p>
      <p>{{productview.sub_catagory}}</p>
      <h4>Price : {{productview.price}}$</h4>
      <h4>{{city}}</h4>
      <div class="container"  id="bidding">
        <form class="form" action="/shop/submitbid/" method = "POST"> {% csrf_token %}
          <div class="form-label-group group d-flex flex pt-4" style="margin-left: -15.5rem!important;">
            <input type="text" name = "pid" value = "{{pid}}" readonly id = "pid"/>
            
            <input type="number" name="bidprice" class="form-control w-50 mx-4" value="{{productview.price}}" required autofocus>
            <br>
            <button type="submit" class="btn btn-success" id="submitbid">Submit Bid</button>
        </div>
      </form>
       
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%block js%}
<script>
  $('#bidding').hide();
  $('#bidnow').click(function(){
    alert("Enter Ammount greater then actual.");
    $('#bidding').show();
  });
  

</script>

{%endblock%}